* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: white;
}

.titles-css {
  margin: 1rem;
}

#movie-form-header {
  border: 1px solid black; 
  margin: 0 2rem 0 5rem; 
  padding: 1rem;
  background-color: #333333;
  width: 165%;
}

input[type="text"],
input[type="number"],
select {
  background-color: #333333;
  color: white; 
  border: 1px solid white; 
}

.input-small {
  width: 3rem; 
}

button {
  display: block;
  margin: 0 auto;
  padding: 0.25rem;
  background-color: #939393;
  color: white;
}

.spacing {
  padding-bottom: 1rem;
}

#form-plus-reviews-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 1rem;
}

#reviews-and-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviews-container {
  border: 1px solid white; 
  width: 90%;
}

#reviews-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap; 
  max-height: 455px;
  overflow-y: auto;
  padding: 1rem;
  background-color: #333333;
}

.movie-card-container {
  flex: 1 0 calc(33.33% - 20px); /* Each card takes up one-third of the container's width with some spacing */
  margin: 5px; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 10px;
}

#reset {
  margin: 1rem;
}

#bar-chart, #scatterplot {
  background-color: #333333;
  padding: 1rem 1rem 1rem 0.5rem;
}

#domestic-bar-chart, #critic-audience-score-chart {
  width: 60% !important;
  height: 90% !important; 
  margin: 0 auto;
}

#genre-doughnut-chart {
  width: 30% !important;
  height: 80% !important; 
}

#doughnut-chart {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  background-color: #181818;
  padding: 2rem;
}